:root {
    --SelectOptionBackground: rgb(1,147,207);
    --BoxShadow : box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.darkTheme{
    background-color: #253529 ;
    color:#fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.lightTheme{
    background-color: #FFF;
    color:#000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
