@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

html,body{
  scroll-behavior:smooth;
  overflow: hidden;
}

html{
  font-size:62.5%;  
}

body{
  font-size:1.6rem;
  font-family: "Poppins", sans-serif;
}

.ps__rail-x,
.ps__rail-y {
  height: 0;
}